<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__list">
          <li class="main-header__list-item"><a href="/" class="active">Home</a></li>
          <li class="main-header__list-item"><a href="/users">Users</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to assignment in Express.js</h1>
    </main>
  </body>
</html>
